**/*.[cC][sS][vV]
**/CLA-REGISTRY.*
**/cla-registry.*
**/contributor-registry.*
**/contributor_registry.*
**/signed-clas/**
**/signed_clas/**
**/cla-submissions/**
**/cla_submissions/**
**/cla-signatures/**
**/cla_signatures/**
